<table class="table resourcetable">
  <tr>
    <td><h3>Details for {{resource.ResourceName}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Resource class</td>
    <td>{{resource.ResClass}}</td>
  </tr>
  <tr>
    <td>Resource type</td>
    <td>{{resource.ResType}}</td>
  </tr>
  <tr>
    <td>Resource category</td>
    <td>{{resource.ResCategory}}</td>
  </tr>
  <tr>
    <td>Resource otherdata</td>
    <td>{{resource.OtherData}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" href="#/resource/{{resource.ResourceId}}/edit">Edit</a>
  <a class="btn btn-primary" href="#/resources/list">Back</a>
</div>
