<!DOCTYPE html>
<html ng-app="attributeapp">
<head >

    <title>Attribute Management</title>

    <!--<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/angular-material-icons/angular-material-icons.css" rel="stylesheet" type="text/css"/>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>-->

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="bower_components/angular-material-icons/angular-material-icons.css" rel="stylesheet" type="text/css"/>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <link href="bower_components/angular-material-data-table/dist/md-data-table.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>




    <script src="app.js"></script>
    <script src="MainController.js"></script>
    <script src="DBcontroller.js"></script>
    <script src="AttributeController.js"></script>
    <script src="ViewController.js"></script>
    <script src="EditController.js"></script>
    <script src="NewController.js"></script>
    <script src="GroupController.js"></script>
    <script src="ViewgroupController.js"></script>
    <script src="EditgroupController.js"></script>
    <script src="NewgroupController.js"></script>
    <script src="TestazCntrl.js"></script>
    <script src="MapController.js"></script>
    <script src="AssignAttributesToGroup.js"></script>





</head>



<body>

<h1>Attribute Viewer</h1>

<div ng-view="">


</div>


</body>
</html>