<div layout="column"  flex-lt-md="80%">
  <md-content layout-padding style="background-color: lightgrey"  >

    <form name="newContextForm" >
      <md-toolbar class="md-table-toolbar md-default">
        <label style="padding:2% 0% 0% 5% ;  background-color: darkgray"><h4 style="color: #ffffff">New Context</h4></label>
      </md-toolbar>

      <div  layout-gt-sm="row">

        <md-input-container  class="md-block" flex-gt-sm>
          <label style="color: blue" >Context</label>
          <input type="text"  name = "Context" ng-model="newObj.Context"  required />

          <span style="color:red" ng-show="newContextForm.Context.$dirty && newUserForm.Context.$invalid">

</span>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container  class="md-block" flex-gt-sm>

          <label>Context Catagory</label>
          <md-select name = "ContextCat" ng-model="newObj.ContextCat" ng-model-options="{trackBy: '$value'}" required>
            <md-option value=INTERNAL>INTERNAL</md-option>
            <md-option value=EXTERNAL>EXTERNAL</md-option>

          </md-select>
        </md-input-container>


      </div>

      <div  layout-gt-sm="row">

        <md-input-container  class="md-block" flex-gt-sm>
          <label style="color: blue" >Description</label>
          <input type="text"  name = "Description" ng-model="newObj.Description"  required />

          <span style="color:red" ng-show="newContextForm.Description.$dirty && newContextForm.Description.$invalid">

</span>
        </md-input-container>

      </div>

      <div  layout-gt-sm="row">

        <md-input-container  class="md-block" flex-gt-sm>
          <label style="color: blue" >Class</label>
          <input type="text"  name = "ObjClass" ng-model="newObj.ObjClass"  required />

          <span style="color:red" ng-show="newContextForm.ObjClass.$dirty && newContextForm.ObjClass.$invalid">

</span>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container  class="md-block" flex-gt-sm>
          <label style="color: blue" >Type</label>
          <input type="text"  name = "ObjType" ng-model="newObj.ObjType"  required />

          <span style="color:red" ng-show="newContextForm.ObjType.$dirty && newContextForm.ObjType.$invalid">

</span>
        </md-input-container>


      </div>
      <div  layout-gt-sm="row">

        <md-input-container  class="md-block" flex-gt-sm>
          <label style="color: blue" >Category</label>
          <input type="text"  name = "ObjCategory" ng-model="newObj.ObjCategory"  required />

          <span style="color:red" ng-show="newContextForm.ObjCategory.$dirty && newContextForm.ObjCategory.$invalid">

</span>
        </md-input-container>

      </div>
      <div  layout-gt-sm="row">
        <md-input-container style="background-color: lightgrey ;padding: 0% 0% 0% 70%">
          <md-button class="md-icon-button" class="md-raised md-primary" ng-click="AddNew()" ng-disabled="isDisabled || newContextForm.$invalid "><md-icon md-svg-src="../img/ic_save_24px.svg"></md-icon></md-button><md-button class="md-icon-button"  class="md-raised md-primary" href="#/contexts" ng-disabled="isDisabled"><md-icon md-svg-src="../img/ic_arrow_back_24px.svg"></md-button></td>

        </md-input-container>
      </div>


    </form>

  </md-content>
</div>
