
<md-data-table-toolbar>
    <h2 class="md-title">Update Attribute Details</h2>

</md-data-table-toolbar>
<md-data-table-container>

    <table md-data-table  md-progress="deferred">

        <tbody>
        <tr>
            <td><h3 >Attribute Details</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Group ID</td>
            <td >{{GDataObj.GroupId}}</td>
        </tr>
        <tr>
            <td>GroupName</td>
            <td ><input type="text" ng-model="GroupName"  placeholder="{{GDataObj.GroupName}}"/></td>

        </tr>
        <tr>
            <td>OtherData</td>
            <td ><input type="text" ng-model="OtherData" placeholder="{{GDataObj.OtherData}}"/></td>
        </tr>
        <tr>
            <td>Percentage</td>
            <td ><input type="text" ng-model="Percentage" placeholder="{{GDataObj.Percentage}}"/></td>
        </tr>

        <tr>

            <td ><md-button class="md-raised md-primary" ng-click="SaveUpdated(DataObj.GroupId,GroupName,OtherData,Percentage)">Save</md-button></td>
        </tr>
        </tbody>
    </table>

</md-data-table-container>



