

        <table>
            <tbody>
            <tr>
                <td>
                    <md-button ng-click="searchAttrib()"  class="md-raised md-primary">SEARCH ATTRIBUTE</md-button>
                </td>
                <td>
                    <md-button ng-click="addNewAttrib()" class="md-raised md-primary">NEW ATTRIBUTE</md-button>
                </td>
            </tr>
            <tr>
                <td>
                    <md-button ng-click="searchGroup()"  class="md-raised md-primary">SEARCH GROUP</md-button>
                </td>
                <td>
                    <md-button ng-click="addNewGroup()" class="md-raised md-primary">NEW GROUP</md-button>
                </td>
                <td>
                    <md-button ng-click="mapWithGroup()" class="md-raised md-primary">Attribute Allocation for Groups</md-button>
                </td>
            </tr>
            </tbody>
        </table>