
<md-data-table-toolbar>
    <h2 class="md-title">Add New Attribute Details</h2>

</md-data-table-toolbar>
<md-data-table-container>

    <table md-data-table  md-progress="deferred">

        <tbody>
        <tr>
            <td><h3 >Attribute Details</h3></td>
            <td></td>
        </tr>

        <tr>
            <td>Attribute</td>
            <td ><input type="text" ng-model="Attribute" /></td>

        </tr>
        <tr>
            <td>OtherData</td>
            <td ><input type="text" ng-model="OtherData" /></td>
        </tr>

        <tr>

            <td ><md-button class="md-raised md-primary" ng-click="AddNew(Attribute,OtherData)" ng-disabled="isDisabled">Save</md-button></td>
        </tr>
        </tbody>
    </table>

</md-data-table-container>



