<div>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="custBackground4 md-toolbar-tools" layout="row">
      <div flex="90">Extension</div>
    </div>
  </md-toolbar>
  <div ng-cloak class="md-inline-form">
    <md-content layout-padding class="custBackground2">
      <form name="extensionForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Extension</label>
            <input type="text" required name="Extension" class="form-control" id="extension" placeholder="Extension" ng-disabled="enableEdit" ng-model="extension.Extension" ng-pattern="/^[0-9]*$/">
            <div ng-messages="extensionForm.Extension.$error">
              <div ng-message="required">Extension is required.</div>
              <div ng-message="pattern">Please enter a valid Number.</div>
            </div>
          </md-input-container>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Extension Name</label>
            <input type="text" required name="ExtensionName" class="form-control" id="extensionName" placeholder="Extension Name" ng-model="extension.ExtensionName">
            <div ng-messages="extensionForm.ExtensionName.$error">
              <div ng-message="required">ExtensionName is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Extension Type</label>
            <md-select ng-model="extension.ObjCategory" required name="ObjCategory" class="form-control" placeholder="Externsion Type">
              <md-option value="USER">
                USER
              </md-option>
              <md-option value="GROUP">
                GROUP
              </md-option>
              <md-option value="CONFERENCE">
                CONFERENCE
              </md-option>
              <md-option value="VOICE_PORTAL">
                VOICE_PORTAL
              </md-option>
              <md-option value="FAX">
                FAX
              </md-option>
              <md-option value="IVR">
                IVR
              </md-option>
            </md-select>
            <div ng-messages="extensionForm.ObjCategory.$error">
              <div ng-message="required">ExtensionType is required.</div>
            </div>
          </md-input-container>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>DOD Number</label>
            <input type="text" class="form-control" required name="DodNumber" id="dodNumber" placeholder="DOD Number" ng-model="extension.DodNumber" ng-pattern="/^[0-9]*$/">
            <div ng-messages="extensionForm.DodNumber.$error">
              <div ng-message="pattern">Please enter a valid Number.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <md-checkbox ng-model="extension.Enabled" class="form-control" ng-hide="true" ng-disabled=true ng-click="updateExtensionEnable()" aria-label="Active">
            </md-checkbox>
          </md-input-container>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <md-checkbox ng-model="extension.DodActive" class="form-control" ng-hide="true" ng-disabled=true ng-click="updateDodEnable()" aria-label="Active">
            </md-checkbox>
          </md-input-container>
        </div>
        <div layout="row">
          <div flex="70"></div>
          <div layout-align="right"><md-button class="md-raised md-primary" ng-hide="enableEdit"  ng-disabled="extensionForm.Extension.$invalid || extensionForm.ExtensionName.$invalid || extensionForm.ObjCategory.$invalid" ng-click="addExtension(extension)" style="margin-right:20px;">Add</md-button></div>
          <div layout-align="right"><md-button class="md-raised md-primary" ng-show="enableEdit" ng-disabled="extensionForm.Extension.$invalid || extensionForm.ExtensionName.$invalid || extensionForm.ObjCategory.$invalid" ng-click="editExtension(extension)" style="margin-right:20px;">Update</md-button></div>
          <div layout-align="right"><md-button class="md-raised md-primary" ng-click="answer('not useful')">Cancel</md-button></div>
        </div>
      </form>
    </md-content>
  </div>
</div>




