<md-card class="ui-main" ng-model="CallEditController">
  <form name="projectForm" novalidate>
    <div ng-cloak>
      <md-content>
        <md-list>
          <h2 class="md-toolbar-tools">
            <span>Cluster [{{cluster.Name}}] Configurations</span>
          </h2>
          <md-subheader class="md-no-sticky">Call Server Config</md-subheader>
          <div ng-controller="CallServerChipsController as ctrl" layout="column" ng-cloak="" class="chipsdemoContactChips"
               ng-app="ClusterManageApp">

            <div ng-show="showStatus" style="vertical-align: middle">
              <span style="color: red">{{status}}</span>
            </div>
            <md-content class="md-padding autocomplete" layout="column">

              <md-chips ng-model="ctrl.selectedCallServers" md-on-add="ctrl.OnCallServerAdd($chip)"
                        md-on-remove="ctrl.OnCallServerDelete($chip)"
                        md-transform-chip="ctrl.transformCallServer($chip)"
                        md-require-match="false">
                <md-autocomplete
                  md-selected-item="ctrl.selectedItem"
                  md-search-text="ctrl.searchText"
                  md-items="item in ctrl.searchCallServer(ctrl.searchText)"
                  md-item-text="item.Name"
                  placeholder="Search for a Call Server">
                  <span md-highlight-text="ctrl.searchText">{{item.Name}} : {{item.InternalMainIP}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      <strong>{{$chip.Name}}</strong>
                      <em>({{$chip.InternalMainIP}})</em>
                    </span>
                </md-chip-template>
              </md-chips>


              <md-list class="fixedRows">
                <md-subheader class="md-no-sticky">Call Servers</md-subheader>
                <md-list-item class="md-2-line contact-item" ng-repeat="contact in ctrl.callServers"
                              ng-if="ctrl.selectedCallServers.indexOf(contact) < 0">

                  <div class="md-list-item-text compact">
                    <h3>{{contact.Name}}</h3>
                    <p>{{contact.InternalMainIP}}</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line contact-item selected" ng-repeat="contact in ctrl.selectedCallServers">
                  <div class="md-list-item-text compact">
                    <h3>{{contact.Name}}</h3>
                    <p>{{contact.InternalMainIP}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </md-content>
          </div>
          <md-divider></md-divider>

          <md-subheader class="md-no-sticky">Network Config</md-subheader>
          <div ng-controller="NetworkChipsController as ctrl" layout="column" ng-cloak="" class="chipsdemoContactChips"
               ng-app="ClusterManageApp">

            <div ng-show="showStatus" style="vertical-align: middle">
              <span style="color: red">{{status}}</span>
            </div>
            <md-content class="md-padding autocomplete" layout="column">

              <md-chips ng-model="ctrl.selectedNetworks" md-on-add="ctrl.OnNetworkAdd($chip)"
                        md-on-remove="ctrl.OnNetworkDelete($chip)"
                        md-transform-chip="ctrl.transformNetwork($chip)"
                        md-require-match="false">
                <md-autocomplete
                  md-selected-item="ctrl.selectedItem"
                  md-search-text="ctrl.searchText"
                  md-items="item in ctrl.searchNetwork(ctrl.searchText)"
                  md-item-text="item.Name"
                  placeholder="Search for a Network">
                  <span md-highlight-text="ctrl.searchText">{{item.Network}} : {{item.NATIP}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      <strong>{{$chip.Network}}</strong>
                      <em>({{$chip.NATIP}})</em>
                    </span>
                </md-chip-template>
              </md-chips>

              <md-list class="fixedRows">
                <md-subheader class="md-no-sticky">Networks</md-subheader>
                <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in ctrl.networks"
                              ng-if="ctrl.selectedNetworks.indexOf(contact) < 0">

                  <div class="md-list-item-text compact">
                    <h3>{{contact.Network}}</h3>

                    <p>{{contact.NATIP}}</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line contact-item selected" ng-repeat="contact in ctrl.selectedNetworks">
                  <div class="md-list-item-text compact">
                    <h3>{{contact.Network}}</h3>
                    <p>{{contact.NATIP}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </md-content>
          </div>



        </md-list>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" ng-disabled="false" aria-label="Back" href="#/cluster/list">
            <md-icon md-svg-src="img/ic_arrow_back_24px.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-content>
    </div>
    </md-card-content>
  </form>
</md-card>

