<md-table-container>
  <div class="main-fab">
    <md-button class="md-fab md-accent" href="#/cluster/create">+</md-button>
    <md-tooltip>Add Cluster</md-tooltip>
  </div>
  <div class="divTable" layout="row" layout-align="center center" ng-hide="dataReady">
    <div layout="column" layout-align="center center">
      <h4>loading data</h4>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>
  <table md-table md-progress="promise" width="100%" ng-show="dataReady">
    <thead md-head>
    <tr class="md-table-header" md-row>
      <th md-column>Name</th>
      <th md-column>Cloud Model</th>

      <th md-column>Call Servers</th>
      <th md-column>Networks</th>
    </tr>
    </thead>
    <tbody md-body>
    <tr class="md-table-header-row" md-auto-select ng-class-odd="'odd'" ng-class-even="'even'"
        ng-repeat="cluster in clusters | limitTo: query.limit: (query.page - 1) * query.limit">

      <td md-cell>{{cluster.Name}}</td>
      <td md-cell>
        <div ng-switch="cluster.CloudModel">
          <span ng-switch-when="0">Unknown</span>
          <span ng-switch-when="1">Basic</span>
          <span ng-switch-when="2">Intermediate</span>
          <span ng-switch-when="3">Advanced</span>
        </div>
      </td>

      <td md-cell>
        <div layout="row" ng-repeat="callServer in cluster.CallServer" >
          <div style="text-align: left;border: thin ridge #C0C0C0 ;width: 100%;">{{callServer.Name}}</div>
          <div style="text-align: center;border: thin ridge #C0C0C0 ;width: 100%;">{{callServer.InternalMainIP}}</div>
        </div>
      </td>
      <td md-cell>
        <div layout="row" ng-repeat="callServer in cluster.Network" >
          <div style="text-align: left;border: thin ridge #C0C0C0 ;width: 100%;">{{callServer.Network}}</div>
          <div style="text-align: center;border: thin ridge #C0C0C0 ;width: 100%;">{{callServer.NATIP}}</div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-page="query.page" md-total={{total}}></md-table-pagination>





