<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Campaign Manager</title>
    <link rel='stylesheet prefetch' href='../bower_components/angular-material/angular-material.css'>
    <link rel='stylesheet prefetch' href='css/demo-swipe.css'>
    <link rel='stylesheet prefetch' href='css/randomColor.css'>

</head>

<body>

<div ng-controller="IndexController" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak=""
     ng-app="CampaignApp">
    <p class="inset">
        Campaign Manager
    </p>

    <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="">
        <md-button class="md-primary md-raised" ng-click="showAdvanced($event,'create')" flex-sm="100" flex-md="100"
                   flex-gt-md="auto">
            Create Campaign
        </md-button>

        <md-button class="md-primary md-raised" ng-click="showAdvanced($event,'view')" flex-sm="100" flex-md="100"
                   flex-gt-md="auto">
            View Campaign
        </md-button>

        <md-button class="md-primary md-raised" ng-click="showAdvanced($event,'view')" flex-sm="100" flex-md="100"
                   flex-gt-md="auto">
            Configure Campaign's
        </md-button>

    </div>

    <div ng-if="status">
        <br>
        <b layout="row" layout-align="center center" class="md-padding">
            {{campaignService.Status}}
        </b>
    </div>

    <div ng-include="'UI/partials/camOngoing.html'"></div>

</div>




<script src="../bower_components/angular/angular.js"></script>
<script src='../bower_components/angular-animate/angular-animate.min.js'></script>
<script src='../bower_components/angular-route/angular-route.min.js'></script>
<script src='../bower_components/angular-aria/angular-aria.min.js'></script>
<script src='../bower_components/angular-messages/angular-messages.min.js'></script>
<script src='../bower_components/angular-material/angular-material.js'></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src='../bower_components/assets-cache/assets-cache.js'></script>


<script src="js/indexController.js"></script>
<script src="js/campaignHandler.js"></script>
<script src="js/camOngoingController.js"></script>




</body>
</html>
