<div>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="custBackground4 md-toolbar-tools" layout="row">
      <div flex="90">Schedule Configuration</div>
      <div><md-button class="md-fab md-mini custBackground3" aria-label="New Schedule Configuration" ng-click="onNewPressed()">
        <md-icon md-svg-src="../img/ic_add_24px.svg"></md-icon>
        <md-tooltip md-direction="bottom">
          New Schedule
        </md-tooltip>
      </md-button></div>
    </div>
  </md-toolbar>

  <md-table-container>
    <div layout="row" layout-align="center center" ng-hide="dataReady">
      <div layout="column" layout-align="center center">
        <h4>loading data</h4>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>
    <table md-table md-progress="promise" ng-show="dataReady">
      <thead md-head>
      <tr md-row>
        <th md-column>Schedule Name</th>
        <th md-column>Action</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row layout-align="center center" md-auto-select ng-repeat="item in scheduleList | limitTo: query.limit: (query.page - 1) * query.limit">

        <td md-cell>{{item.ScheduleName}}</td>
        <td md-cell>{{item.Action}}</td>
        <td md-cell>
          <div layout="row">
            <md-button class="md-icon-button" ng-disabled="false" aria-label="edit" ng-click="onEditPressed(item)">
              <md-icon md-svg-src="../img/edit26.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-disabled="false" aria-label="delete" ng-click="onDeletePressed($event, item.id)">
              <md-icon md-svg-src="../img/ic_delete_24px.svg"></md-icon>
            </md-button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="query.limit" md-page="query.page" md-total={{total}}></md-table-pagination>
  <br>
  <br>
  <div ng-cloak class="md-inline-form">
    <md-content layout-padding class="custBackground2">

      <form name="scheduleConfigForm">
        <div layout-gt-sm="row">
          <div flex-gt-sm layout="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Schedule Name</label>
              <input name="scheduleName" ng-model="scheduleConfig.ScheduleName" required ng-disabled="IsEdit">
              <div ng-messages="scheduleConfig.scheduleName.$error">
                <div ng-message="required">This field is required</div>
              </div>
            </md-input-container>
          </div>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Action</label>
            <input name="action" ng-model="scheduleConfig.Action">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <div flex-gt-sm layout="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Extra Data</label>
              <input name="extraData" ng-model="scheduleConfig.ExtraData">
            </md-input-container>
          </div>
        </div>
        <br>
        <br>
        <div layout="row">
          <div flex="70"></div>
          <div layout-align="right"><md-button class="btn1" ng-click="onSavePressed()" ng-disabled="actionConfigForm.$invalid">Save</md-button></div>
          <div layout-align="right"><md-button class="btn2" ng-click="onCancelPressed()">Back</md-button></div>
        </div>

      </form>
    </md-content>
  </div>
</div>


