<md-dialog-content>
    <div class="md-dialog-content">

        <div layout="column" ng-cloak="" class="inputdemoErrors">

            <md-content layout-padding="">
                <form  >

                    <md-input-container class="md-block" >
                        <label>Campaign Name </label>
                        <input md-maxlength="30" required name="CampaignName" ng-model="campaignData.CampaignName" ng-class="{ 'has-error' : projectForm.CampaignName.$invalid && !projectForm.CampaignName.$pristine }">
                        <div ng-messages="projectForm.CampaignName.$error"  ng-show="projectForm.CampaignName.$invalid">
                            <div ng-message="required" >This is required.</div>
                            <div ng-message="md-maxlength" >The name has to be less than 30 characters long.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Campaign Channel</label>
                        <input required="" name="CampaignChannel" ng-model="campaignData.CampaignChannel">
                        <div ng-messages="projectForm.CampaignChannel.$error" ng-show="projectForm.CampaignName.$invalid">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Campaign Extension</label>
                        <input required="" name="Extension" ng-model="campaignData.Extensions" >

                        <div ng-messages="projectForm.Extension.$error" ng-show="projectForm.CampaignName.$invalid">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Dialout Mechanism</label>
                        <input required="" name="DialoutMechanism" ng-model="campaignData.DialoutMechanism" >
                        <div ng-messages="projectForm.DialoutMechanism.$error" ng-show="projectForm.DialoutMechanism.$invalid">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Campaign Mode</label>
                        <input required="" name="CampaignMode" ng-model="campaignData.CampaignMode" >
                        <div ng-messages="projectForm.CampaignMode.$error" ng-show="projectForm.CampaignMode.$invalid">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="">
                        <label>State</label>
                        <md-select ng-model="user.state">
                            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </form>
            </md-content>

        </div>

    </div>
</md-dialog-content>