<form name="userForm">
  <div class="md-padding" id="popupContainer" ng-cloak>
    <md-card>
      <md-card-title >
        <md-card-title-text>
          <span class="md-headline">Conference APP</span>
        </md-card-title-text>
        <md-button class="md-icon-button" ng-disabled="false" aria-label="Add"  href="#/conference/create">
          <md-icon md-svg-src="../img/ic_add_24px.svg"></md-icon>
        </md-button>
      </md-card-title>


      <md-list ng-cloak>


        <md-list-item ng-repeat="conference in conferences">

          <p>{{ conference.ConferenceName }}</p>
          <p>{{ conference.ObjClass }}</p>
          <p>{{ conference.StartTime }}</p>



          <md-button class="md-icon-button"  ng-disabled="false" aria-label="edit"  ng-click="viewConference(conference.ConferenceName)">
            <md-icon md-svg-src="../img/edit26.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button"  ng-disabled="false" aria-label="delete"  ng-click="deleteConference(conference)">
            <md-icon md-svg-src="../img/ic_delete_24px.svg"></md-icon>
          </md-button>

        </md-list-item>
      </md-list>


    </md-card>
  </div>
</form>
