<div class="ui-sub" layout="column" ng-cloak>
  <md-content class="ui-sub" layout-padding>
    <form name="projectForm">
      <md-input-container class="md-block">
        <label>Network</label>
        <input md-maxlength="30" required name="Network" ng-model="network.Network" ng-readonly="editMode">

        <div ng-messages="projectForm.Network.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Mask Bits</label>
        <input type="number" name="Mask" ng-model="network.Mask" min="0" max="30" required>
        <div ng-messages="projectForm.Mask.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="max">Any number above 30 will be marked invalid.</div>
          <div ng-message="min">Any number below 0 will be marked invalid.</div>
        </div>

      </md-input-container>

      <md-input-container class="md-block">
        <label>NAT IP</label>
        <input md-maxlength="15" required ng-pattern="/^(\d{1,3}\.){3}(\d{1,3})$/" name="NATIP" ng-model="network.NATIP">

        <div ng-messages="projectForm.NATIP.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The NAT Ip has to be less than 15 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Owner</label>
        <input  md-maxlength="30" ng-readonly="true"  name="Owner" ng-model="network.Owner">

        <div ng-messages="projectForm.Owner.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>

      <div layout-gt-sm="row">
        <label>City</label>
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input ng-model="user.city">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>State</label>
          <md-select ng-model="user.state">
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Postal Code</label>
          <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                 required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
          <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply a postal code.</div>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
              code.
            </div>
            <div ng-message="md-maxlength" class="my-message">
              Don't use the long version silly...we don't need to be that specific...
            </div>
          </div>
        </md-input-container>
      </div>
      <md-input-container class="md-block" >
        <md-select  ng-disabled="editMode"  name="Type" ng-model="network.Type"  ng-model-options="{trackBy: '$value'}"  >
          <md-option ng-value="t.Type" selected ng-repeat="t in NetType">{{ t.name }}</md-option>
        </md-select>
      </md-input-container>



    </form>

  </md-content>
</div>









