<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Resource View</span>
      <span class="md-subhead">{{resource.ResourceName}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media">Resource class : {{resource.ResClass}}</div>
      <div class="md-media-lg card-media">Resource type : {{resource.ResType}}</div>
      <div class="md-media-lg card-media">Resource category : {{resource.ResCategory}}</div>
      <div class="md-media-lg card-media">Resource otherdata : {{resource.OtherData}}</div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button href="#/resource/{{resource.ResourceId}}/tasklist">Configure</md-button>
    <md-button href="#/resource/{{resource.ResourceId}}/edit">Edit</md-button>
    <md-button href="#/resources/list">Back</md-button>
  </md-card-actions>
</md-card>

