<md-table-container >
  <div class="main-fab">
    <md-button class="md-fab md-accent" href="#/callserver/create">+</md-button>
    <md-tooltip>Add Call Server</md-tooltip>
  </div>
  <div class="divTable" layout="row" layout-align="center center" ng-hide="dataReady">
    <div layout="column" layout-align="center center">
      <h4>loading data</h4>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>

  <table md-table md-progress="promise" width="100%" ng-show="dataReady">
    <thead md-head  md-order="query.order" md-on-reorder="query.order">
    <tr class="md-table-header" md-row>
      <th md-column md-order-by="Name">Name</th>
      <th md-column>Code</th>
      <th md-column>Call Server IP</th>
     <!-- <th md-column>Class</th>
      <th md-column>Type</th>
      <th md-column>Category</th> -->
      <th md-column>Activate</th>
      <th md-column>Edit</th>
      <th md-column>Delete</th>
    </tr>
    </thead>
    <tbody md-body>
    <tr class="md-table-header-row" md-auto-select ng-class-odd="'odd'" ng-class-even="'even'"
        ng-repeat="callServer in callServers |  orderBy: query.order| limitTo: query.limit: (query.page - 1) * query.limit">

      <td md-cell>{{callServer.Name}}</td>
      <td md-cell>{{callServer.Code}}</td>
      <td md-cell>{{callServer.InternalMainIP}}</td>
     <!-- <td md-cell>{{callServer.Class}}</td>
      <td md-cell>{{callServer.Type}}</td>
      <td md-cell>{{callServer.Category}}</td>-->
      <td md-cell>
        <md-checkbox ng-disabled="true" ng-checked="callServer.Activate"></md-checkbox>
      </td>
      <td md-cell>
        <md-button class="md-icon-button" ng-disabled="false" aria-label="edit"
                   ng-click="viewCallServer(callServer.id)">
          <md-icon md-svg-src="../img/edit26.svg"></md-icon>
        </md-button>
      </td>
      <td md-cell>
        <md-button class="md-icon-button" ng-disabled="false" aria-label="delete"
                   ng-click="deleteCallServer(callServer)">
          <md-icon md-svg-src="../img/ic_delete_24px.svg"></md-icon>
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-page="query.page" md-total={{total}}></md-table-pagination>





