<div class="ui-sub" layout="column" ng-cloak>
  <md-content class="ui-sub" layout-padding>
    <form name="projectForm">
      <md-input-container class="md-block">
        <label>Name</label>
        <input md-maxlength="30" required name="Name" ng-model="callServer.Name">

        <div ng-messages="projectForm.Name.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Internal Main IP</label>
        <input md-maxlength="15" required ng-pattern="/^(\d{1,3}\.){3}(\d{1,3})$/" name="MainIP" ng-model="callServer.InternalMainIP">

        <div ng-messages="projectForm.InternalMainIP.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The Main IP has to be less than 15 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Code</label>
        <input type="number"
               placeholder="Code"
               required
               ng-unique="{key: 'users', property: 'Code'}"
               autofocus name="Code" ng-model="callServer.Code">

        <div ng-messages="projectForm.Code.$error">
          <div ng-message="required">This is required.</div>
          <div ng-show="projectForm.Code.$error.unique">Code is already taken.</div>
        </div>
        <!--<input type="number"
               placeholder="Code"
               ng-minlength=5
               required
               ng-unique="{key: 'users', property: 'Code'}"
               autofocus name="Code" ng-model="callServer.Code">

        <div ng-messages="projectForm.Code.$error">
          <div ng-message="required">This is required.</div>
          <div ng-if="projectForm.Code.$error.minlength">Must be at least 5 characters.</div>
          <div ng-show="projectForm.Code.$error.unique">Code is already taken.</div>
        </div>-->
      </md-input-container>


      <div layout-gt-sm="row">
        <md-input-container class="md-block">
          <label>Class</label>
          <input required name="Class" ng-model="callServer.Class">

          <div ng-messages="projectForm.Class.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Type</label>
          <input required name="Type" ng-model="callServer.Type">

          <div ng-messages="projectForm.Type.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Category</label>
          <input required name="Category" ng-model="callServer.Category">

          <div ng-messages="projectForm.Category.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <md-checkbox aria-label="Disabled checked checkbox" ng-model="callServer.Activate"
                       ng-init="callServer.Activate=true">
            Activate
          </md-checkbox>
        </md-input-container>
      </div>

      <div ng-show="callServer.id">
        <div style="background: rgba(34, 44, 30, 0.54)">
          <md-button class="md-icon-button" ng-disabled="false" aria-label="edit">
            <md-icon md-svg-src="../img/settings49.svg"></md-icon>
          </md-button>
          IP Addresses
        </div>
        <div style="background: rgba(34, 44, 30, 0.33)">

          <div ng-controller="CustomInputDemoCtrl as ctrl" layout="column" ng-cloak>

            <div ng-show="showStatus" style="vertical-align: middle">
              <span style="color: red">{{status}}</span>
            </div>

            <md-content class="md-padding" layout="column">

              <md-chips ng-model="ctrl.selectedIpAddresses" readonly="false" md-on-add="ctrl.OnIpAdd($chip)"
                        md-on-remove="ctrl.OnIpDelete($chip)">
                <md-chip-template>
                  <span>
                    <strong>{{$chip.IP}}</strong>
                    <em>({{$chip.callServerId}})</em>
                  </span>
                </md-chip-template>
              </md-chips>

              <br/>

              <h2 class="md-title">Options</h2>
              <md-list>
                <md-chips ng-model="ctrl.ipAddresss" readonly="true">
                  <md-chip-template>
                    <strong>{{$chip.IP}}</strong>
                    <em>({{$chip.callServerId}}:{{ $chip.allocated && 'Allocated' || 'Not Allocated' }})</em>
                  </md-chip-template>
                </md-chips>


              </md-list>
            </md-content>
          </div>

        </div>
      </div>

    </form>
  </md-content>
</div>









