<!--<form class="form-horizontal" role="form" ng-submit="updateResource()">-->
  <div ng-include="'partials/resourceForm.html'"></div>

  <div ng-controller="BasicDemoCtrl as ctrl" layout="column">

    <md-content class="md-padding" layout="column">
      <h2 class="md-title">Resource Tasks</h2>

      <md-chips ng-model="ctrl.resourceTasks" md-on-append="ctrl.OnChipAdd($chip)" md-on-remove="ctrl.OnChipDelete($chip)" md-on-select="ctrl.OnChipSelect($chip)" md-autocomplete-snap md-transform-chip="ctrl.transformChip($chip)" md-require-match="ctrl.autocompleteDemoRequireMatch">

        <md-autocomplete
          md-selected-item="ctrl.selectedItem"
          md-search-text="ctrl.searchText"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.name"
          placeholder="Search for a tasks">
          <span md-highlight-text="ctrl.searchText">{{item.TaskName}}</span>
        </md-autocomplete>

        <md-chip-template>
          <strong>{{$chip.TaskName}}</strong>
          <em>(task)</em>
        </md-chip-template>
      </md-chips>
    </md-content>

    <md-content class="md-padding" layout="column">
      <h2 class="md-title">Available Tasks</h2>
    <md-chips class="custom-chips" ng-model="ctrl.masterTasks" readonly="true"
              md-transform-chip="ctrl.transformChip($chip)">
      <md-chip-template>
        <md-chip-template>
          <strong>{{$chip.TaskName}}</strong>
          <em>(task)</em>
        </md-chip-template>
      </md-chip-template>
    </md-chips>
    </md-content>


  </div>


<md-button class="md-fab" ng-disabled="false" aria-label="Add"  href="#/resource/list">
  <md-icon md-svg-src="img/ic_arrow_back_24px.svg"></md-icon>
</md-button>

<md-button class="md-fab" ng-disabled="false" aria-label="Add"  ng-click="updateResource()">
  <md-icon md-svg-src="img/ic_save_24px.svg"></md-icon>
</md-button>
<!--</form>-->
