


<!--
  <div class="panel">
    <select name="taskSelect" ng-model="masterTask">
      <option ng-repeat="item in masterTasks" value="{{item}}">{{item.ResTaskInfo.TaskName}}</option></select>
    <div class="button" ng-click="AssignTask(masterTask)">Add</div>
  </div> -->

  <h3>{{resource.ResourceName}} Tasks</h3>

<md-button class="md-raised md-primary" ng-disabled="false" aria-label="Back"  href="#/resource/{{resource.ResourceId}}/edit">
  <md-icon md-svg-src="img/ic_arrow_back_24px.svg"></md-icon>

</md-button>


<div flex="50" flex-sm="100" flex-xs="100" layout="row">
    <task  ng-repeat="resourceTask in resourceTasks" resourceTask="resourceTask"></task>

</div>



