<div ng-cloak>
  <md-content style="background-color: #cccccc">
    <md-tabs md-dynamic-height md-border-bottom style="background-color: #cccccc">
      <md-tab label="INBOUND" >
        <md-subheader class="md-no-sticky" style="background-color: #cccccc"><h2>INBOUND</h2></md-subheader>
        <div  style="background-color: #cccccc"><md-button class="md-icon-button" ng-click="addRule('INBOUND')" class="md-raised md-primary"> <md-icon md-svg-src="../img/ic_add_24px.svg"></md-icon></md-button></div>

        <md-data-table-container  style="background-color: #cccccc">

          <table md-table  md-progress="deferred" >
            <thead md-head style="background-color: #cccccc">
            <tr md-row>
              <th md-column style="color: #323232"><h3>DNIS</h3></th>
              <th md-column style="color: #323232"><h3>DNIS Pattern</h3> </th>
              <th md-column style="color: #323232"><h3>Priority</h3> </th>
              <th md-column style="color: #323232"><h3>Application</h3> </th>



            </tr>
            </thead>
            <tbody md-body>
            <tr md-row layout-align="center center" md-auto-select ng-repeat="rule in inRuleData | limitTo: inQuery.limit: (inQuery.page - 1) * inQuery.limit">
            <!--<tr md-row layout-align="center center" md-auto-select ng-repeat="rule in inRuleData">-->
              <td md-cell>{{rule.DNIS}}</td>
              <td md-cell>{{rule.RegExPattern}}</td>
              <td md-cell>{{rule.Priority}}</td>
              <td md-cell>{{rule.Application.AppName}}</td>
              <td md-cell>
                <div layout="row">
                  <md-button class="md-icon-button"  class="md-raised md-primary" ng-click="editRule(rule)"><md-icon md-svg-src="../img/edit26.svg"></md-button>
                  <md-button class="md-icon-button" class="md-raised md-warn" ng-disabled="isDisabled" ng-click="DeleteRule(rule)"><md-icon md-svg-src="../img/ic_delete_24px.svg" align="left"></md-button>

                </div>

              </td>


            </tr>
            </tbody>
          </table>

        </md-data-table-container>
        <md-table-pagination md-limit="inQuery.limit" md-page="inQuery.page" md-total={{inTotal}}></md-table-pagination>
        <!-- <md-table-pagination md-limit="query.limit" md-page="query.page" md-total={{total}}></md-table-pagination>-->



      </md-tab>
      <md-tab label="OUTBOUND">
        <md-subheader class="md-no-sticky" style="background-color: #cccccc"><h2>OUTBOUND</h2></md-subheader>
        <div  style="background-color: #cccccc"><md-button class="md-icon-button" ng-click="addRule('OUTBOUND')" class="md-raised md-primary"> <md-icon md-svg-src="../img/ic_add_24px.svg"></md-icon></md-button></div>

        <md-data-table-container  style="background-color: #cccccc">

          <table md-table  md-progress="deferred" >
            <thead md-head style="background-color: #cccccc">
            <tr md-row>
              <th md-column style="color: #323232"><h3>DNIS</h3></th>
              <th md-column style="color: #323232"><h3>DNIS Pattern</h3> </th>
              <th md-column style="color: #323232"><h3>Priority</h3> </th>
              <th md-column style="color: #323232"><h3>Trunk</h3> </th>



            </tr>
            </thead>
            <tbody md-body>
            <tr md-row layout-align="center center" md-auto-select ng-repeat="rule in outRuleData | limitTo: outQuery.limit: (outQuery.page - 1) * outQuery.limit">
           <!-- <tr md-row layout-align="center center" md-auto-select ng-repeat="rule in outRuleData">-->
              <td md-cell>{{rule.DNIS}}</td>
              <td md-cell>{{rule.RegExPattern}}</td>
              <td md-cell>{{rule.Priority}}</td>
              <td md-cell>{{rule.TrunkNumber}}</td>
              <td md-cell>

                <div layout="row">
                  <md-button class="md-icon-button"  class="md-raised md-primary" ng-click="editRule(rule)"><md-icon md-svg-src="../img/edit26.svg"></md-icon></md-button>
                  <md-button class="md-icon-button" class="md-raised md-warn" ng-disabled="isDisabled" ng-click="DeleteRule(rule)"><md-icon md-svg-src="../img/ic_delete_24px.svg"></md-icon></md-button>

                </div>

              </td>



            </tr>
            </tbody>
          </table>

        </md-data-table-container>

        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total={{outTotal}}></md-table-pagination>

      </md-tab>

  </md-content>
</div>















