.ul{
  display: table;

  table-layout: fixed; /* Magic rule */
  border-collapse: collapse;
}
.li{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding:10px;
  border: 1px solid #333;
  font: 18px arial;
  color:#fff;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,.5),rgba(0,0,0,.7));
  background-image:    -moz-linear-gradient(top, rgba(0,0,0,.5),rgba(0,0,0,.7));
  background-image:         linear-gradient(top, rgba(0,0,0,.5),rgba(0,0,0,.7));
}
.odd {
  background-color: #D8D8D8;

}
.even {
  background-color:#EBEBEB;

}
.header md-toolbar md-icon.md-default-theme {
  color: white;
}
.trTitle{
  background-color: #666666;
  text-align: center;
  font-size: 12px;
  font-style: oblique;
}
.panel {
  padding: 50px 10px;
  text-align: center;
  margin: 10px 0px;
  border: 1px solid #ccc;
  font-size: 25px;
  background-color: #cccccc;
}

.SidePanel {
  padding: 50px 10px;
  text-align: center;
  margin: 10px 0px;
  border: 1px solid #ccc;
  font-size: 25px;
  background-color: #cccccc;
}
.divTable{
  background-color: #cccccc;
}
