<div ng-controller="camOngoingController" xmlns:border="http://www.w3.org/1999/xhtml">
    <form name="onGoingForm" novalidate>

        <div layout="column" layout-padding ng-cloak>
            <br/>


            <md-content>


            </md-content>
        </div>



        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools" >
                <span>Ongoing Campaign</span>
                <md-button class="md-raised md-warn" align="center"  ng-click="getOngoingCampaign()" ng-disabled="onGoingForm.$invalid" style="margin-left:80%;">Load</md-button>
            </h2>

        </md-toolbar>
        <md-content ng-repeat="camp in OngoingCampaigns"   style="text-align: left;" layout="row" layout-align="center">
            <div layout="column" ng-class-odd="'odd'" ng-class-even="'even'" style="border: thin ridge #C0C0C0 ; width: 20%;">
                <div layout="row">
                    <div layout="column" style="text-align: center;border: thin ridge #C0C0C0 ;width: 50%;">
                        <label>{{camp.CampaignId}}</label>
                    </div>
                    <div layout="column" style="text-align: center;border: thin ridge #C0C0C0 ;width: 50%;">
                        <label>{{camp.DialerId}}</label>
                    </div>
                </div>
                <div layout="column" style="border: thin ridge #C0C0C0 ;width:  auto; height: 100%;">
                    <label>{{camp.CampCampaignInfo.CampaignName}}</label>
                </div>
            </div>
            <div flex layout="row" ng-class-odd="'odd'" ng-class-even="'even'" layout-fill style="height: auto;">
                <!-- this is what I change -->
                <div style="border: thin ridge #C0C0C0 ;width: 24%;">
                    <label >{{camp.CampCampaignInfo.CampaignMode}}</label>
                </div>
                <div style="align-items: center;border: thin ridge #C0C0C0 ;width: 24%;">
                    <label>{{camp.CampCampaignInfo.DialoutMechanism}} </label>
                </div>
                <div style="border: thin ridge #C0C0C0 ;width: 24%;">
                    <label>{{camp.CampCampaignInfo.Extensions}}</label>
                </div>
                <div style="border: thin ridge #C0C0C0 ;width: 24%;">
                    <label>{{camp.CampCampaignInfo.CampaignChannel}}</label>
                </div>
                <div style="border: thin ridge #C0C0C0 ;width: auto;">
                    <md-button class="md-raised md-warn" ng-click="stopCampaign(camp)" flex-sm="100"
                               flex-md="100"
                               flex-gt-md="auto">
                        Stop
                    </md-button>
                </div>
            </div>
        </md-content>





    </form>












</div>