
<md-data-table-toolbar>
  <h2 class="md-title">Applications</h2>
</md-data-table-toolbar>
<md-data-table-container>

  <!-- ic_add_24px.svg
 <p><md-button ng-click="NewApplication()" class="md-raised md-primary">NEW</md-button></p>-->
  <md-button class="md-icon-button" aria-label="Edit" ng-click="NewApplication()">
    <md-icon md-svg-src="../img/ic_add_24px.svg"></md-icon>
  </md-button>

  <md-list ng-control ng-controller="AppsController" ng-cloak flex-gt-sm="80">
    <md-list-item align="left">
      <p flex-gt-sm style="font-style:normal">AppName</p>
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <p flex-gt-sm>MasterAppId</p>
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <p flex-gt-sm>ObjType</p>
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <p flex-gt-sm>Availability</p>
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <p></p>
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <p></p>
    </md-list-item>
    <md-list-item ng-repeat="application in appData">
      <!-- <img alt="{{ application.name }}" />-->
      <p flex-gt-sm>{{ application.AppName }}</p>
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <p flex-gt-sm>{{ application.MasterApplicationId }}</p>
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <p flex-gt-sm>{{ application.ObjType}}</p>
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <p flex-gt-sm>{{ application.Availability}}</p>
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <md-button class="md-icon-button" aria-label="Edit" ng-click="EditApp(application)">
        <md-icon md-svg-src="../img/edit26.svg"></md-icon>
      </md-button>
     <!-- <p flex-gt-sm><md-button ng-click="EditApp(application)" class="md-raised md-primary">Edit</md-button></p>-->
      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>
      <md-button class="md-icon-button" aria-label="Edit" ng-click="DeleteApplication(application.id)">
        <md-icon md-svg-src="../img/ic_delete_24px.svg"></md-icon>
      </md-button>
      <!--<p flex-gt-sm><md-button ng-click="DeleteApplication(application.id)" class="md-raised md-warn">Delete</md-button></p>-->
      <!--<md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>-->
    </md-list-item>

  </md-list>
   <!-- <div ng-controller="AppsController" layout="column" ng-cloak flex-gt-sm="50">
     <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
              <label>AppName</label>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label>Master App ID</label>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label>ObjType</label>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label>Availability</label>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label></label>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label></label>
          </md-input-container>
      </div>

      <div layout-gt-sm="row" layout-align="center center" md-auto-select ng-repeat="application in appData ">
          <md-input-container class="md-block" flex-gt-sm>
              <label>AppName</label>
              <input ng-model="application.AppName" placeholder="{{appData.AppName}}">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label>Master App ID</label>
              <input ng-model="application.MasterApplicationId" placeholder="{{application.MasterApplicationId}}">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label>ObjType</label>
              <input ng-model="application.ObjType" placeholder="{{application.ObjType}}">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label>Availability</label>
              <input ng-model="application.Availability" placeholder="{{application.Availability}}">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label></label>
              <md-button ng-click="EditApp(application)" class="md-raised md-primary">Edit</md-button>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
              <label></label>
              <md-button ng-click="DeleteApplication(application.id)" class="md-raised md-warn">Delete</md-button>
          </md-input-container>
      </div>
  </div>-->

<!--
   <table md-data-table  md-progress="deferred">
       <thead>
       <tr>
           <td>
               <md-button ng-click="NewApplication()" class="md-raised md-primary">NEW</md-button>
           </td>
       </tr>
       <tr>
           <th>AppName</th>
           <th>MasterAppId</th>
           <th>ObjType</th>
           <th>Status</th>


       </tr>
       </thead>
       <tbody>
       <tr layout-align="center center" md-auto-select ng-repeat="application in appData ">
          <td>{{application.AppName}}</td>
           <td>{{application.MasterApplicationId}}</td>
           <td>{{application.ObjType}}</td>
           <td>{{application.Availability}}</td>
           <td>
               <md-button ng-click="EditApp(application)" class="md-raised md-primary">Edit</md-button>
               <md-button ng-click="DeleteApplication(application.id)" class="md-raised md-warn">Delete</md-button>

           </td>


       </tr>
  &lt;!&ndash;     </tbody>
   </table>
</br>
   <table md-data-table  md-progress="deferred">
       <thead>

       <tr>
           <th>AppName</th>
           <th>MasterAppId</th>
           <th>ObjType</th>
           <th>Status</th>


       </tr>
       </thead>
       <tbody>&ndash;&gt;
       <tr ng-style=""></tr>
       <tr layout-align="center center" md-auto-select ng-repeat="deactiveApplication in deactiveAppData">
           <td>{{deactiveApplication.AppName}}</td>
           <td>{{deactiveApplication.MasterApplicationId}}</td>
           <td>{{deactiveApplication.ObjType}}</td>
           <td>{{deactiveApplication.Availability}}</td>
           <td>
               <md-button class="md-primary md-raised" ng-click="showAdvanced(deactiveApplication)" flex="100" flex-gt-md="auto">VIEW</md-button>
             &lt;!&ndash;  <md-button ng-click="EditApp(deactiveApplication)" class="md-raised md-primary">VIEW</md-button>&ndash;&gt;
               <md-button ng-click="ActivateApplication(deactiveApplication.id)" class="md-raised md-warn">Active</md-button>

           </td>


       </tr>
       </tbody>
   </table> -->

</md-data-table-container>
