.btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(172, 230, 0, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  height: 30px;
}
.btn1:not([disabled]):hover {
  background-color: rgba(0, 153, 51, 0.96);
  color: white;
}
.btn1[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

.btn2 {
  color : rgb(49, 46, 46);
  background-color: rgba(102, 178, 255, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}
.btn2:not([disabled]):hover {
  background-color: rgba(119, 51, 255, 0.96);
  color: white;
}
.btn2[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

.custBackground1{
  background-color: rgba(235, 235, 224, 0.96);
}

.custBackground2{
  background-color: rgba(245, 245, 240, 0.96);
}

