<div>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="custBackground1 md-toolbar-tools" layout="row">
      <div layout-align="left" flex="70">Follow Me Configuration</div>
    </div>
  </md-toolbar>

  <div layout-padding>
  <div layout-gt-sm="row" layout-align="start center">
    <md-input-container flex-gt-sm>
      <label>Follow Me Ring Type</label>
      <md-select name="userStatus" ng-model="basicConfig.FMRingType" ng-model-options="{trackBy: '$value'}">
        <md-option value="SEQUENTIAL">SEQUENTIAL</md-option>
        <md-option value="PARALLEL">PARALLEL</md-option>
      </md-select>
    </md-input-container>
    <md-button class="btn1">Set</md-button>
  </div>
  </div>

  <md-table-container>
    <div layout="row" layout-align="center center" ng-hide="dataReady">
      <div layout="column" layout-align="center center">
        <h4>loading data</h4>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>
    <table md-table md-progress="promise" ng-show="dataReady">
      <thead md-head>
      <tr md-row>
        <th md-column>User UUID</th>
        <th md-column>User Status</th>
        <th md-column>Advanced Route Method</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row layout-align="center center" md-auto-select ng-repeat="item in pabxUsrList | limitTo: query.limit: (query.page - 1) * query.limit">

        <td md-cell>{{item.UserUuid}}</td>
        <td md-cell>{{item.UserStatus}}</td>
        <td md-cell>{{item.AdvancedRouteMethod}}</td>
        <td md-cell>
          <div layout="row">
            <md-button class="md-icon-button" ng-disabled="false" aria-label="edit" ng-click="onEditPressed()">
              <md-icon md-svg-src="../ResourceApp-Material/img/edit26.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-disabled="false" aria-label="delete">
              <md-icon md-svg-src="../ResourceApp-Material/img/ic_delete_24px.svg"></md-icon>
            </md-button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="query.limit" md-page="query.page" md-total={{total}}></md-table-pagination>

  <md-card layout-padding class="custBackground2">
    <md-card-content>
      <md-toolbar class="md-table-toolbar md-default">
        <div class="custBackground2 md-toolbar-tools" layout="row">
          <div layout-align="left" flex="70">New Follow Me Configurationn</div>
        </div>
      </md-toolbar>

    <div layout-gt-sm="row">
      <md-input-container flex-gt-sm>
        <label>Destination Type</label>
        <md-select name="userStatus" ng-model="basicConfig.FMDestType" ng-model-options="{trackBy: '$value'}">
          <md-option value="PBXUSER">PBXUSER</md-option>
          <md-option value="GATEWAY">GATEWAY</md-option>
        </md-select>
      </md-input-container>
      <div flex="5"></div>
      <md-input-container flex-gt-sm>
        <label>Destination Number</label>
        <input name="destNum" ng-model="basicConfig.DestNumber">
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container flex-gt-sm>
        <label>Priority</label>
        <input name="priority" ng-model="basicConfig.Priority">
      </md-input-container>
      <div flex="5"></div>
      <md-input-container flex-gt-sm>
        <label>Ring Time</label>
        <input name="ringTime" ng-model="basicConfig.RingTime">
      </md-input-container>
    </div>
    <div layout="row" layout-align="right" flex="30">
      <div layout-align="left"><md-button class="btn1">Add New</md-button></div>
    </div>
    </md-card-content>
  </md-card>

</div>
