<div>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="custBackground1 md-toolbar-tools" layout="row">
      <div layout-align="left" flex="70">PABX Basic Configuration</div>
      <div layout="row" layout-align="right" flex="30">
        <div layout-align="left"><md-button class="btn1">Follow Me</md-button></div>
        <div layout-align="right"><md-button class="btn1">Forwarding</md-button></div>
      </div>

    </div>
  </md-toolbar>
  <div ng-cloak class="md-inline-form">
    <md-content layout-padding class="custBackground2">
      <form name="pabxBasicConfForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>PABX User Name</label>
            <input name="userName" ng-model="basicConfig.UserName">
          </md-input-container>
          <div flex="55"></div>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>User Status</label>
            <md-select name="userStatus" ng-model="basicConfig.UserStatus" ng-model-options="{trackBy: '$value'}">
              <md-option value="DND">Do Not Disturb</md-option>
              <md-option value="AVAILABLE">Available</md-option>
              <md-option value="CALL_DIVERT">Call Divert</md-option>
            </md-select>
          </md-input-container>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Advanced Route Method</label>
            <md-select name="advRouteMethod" ng-model="basicConfig.AdvRouteMethod" ng-model-options="{trackBy: '$value'}">
              <md-option value="NONE">Default</md-option>
              <md-option value="FOLLOW_ME">Follow Me</md-option>
              <md-option value="FORWARDING">Conditional Forward</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Schedule</label>
            <md-select name="schedule" ng-model="basicConfig.Schedule" ng-model-options="{trackBy: '$value.id'}">
              <md-option ng-repeat="schedItem in scheduleList" value="{{schedItem.id}}">{{schedItem.Name}}</md-option>
            </md-select>
          </md-input-container>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Time Zone: (Eg: +01:00)</label>
            <input name="timeZone" ng-model="basicConfig.TimeZone">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Day Greeting</label>
            <md-select name="userStatus" ng-model="basicConfig.DayGreeting" ng-model-options="{trackBy: '$value'}">
              <md-option ng-repeat="dayGreetItem in fileList" value="{{dayGreetItem.id}}">{{dayGreetItem.Name}}</md-option>
            </md-select>
          </md-input-container>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Night Greeting</label>
            <md-select name="userStatus" ng-model="basicConfig.DayGreeting" ng-model-options="{trackBy: '$value'}">
              <md-option ng-repeat="nightGreetItem in fileList" value="{{nightGreetItem.id}}">{{nightGreetItem.Name}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Divert Number</label>
            <input name="divertNumber" ng-model="basicConfig.DivertNumber">
          </md-input-container>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>PIN Number</label>
            <input name="pinNumber" ng-model="basicConfig.PinNumber">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-checkbox md-no-ink aria-label="mediaBypass" class="md-primary" flex-gt-sm>
            Media Bypass
          </md-checkbox>
          <div flex="5"></div>
          <md-checkbox md-no-ink aria-label="ignoreEarlyMedia" class="md-primary" flex-gt-sm>
            Ignore Early Media
          </md-checkbox>
          <div flex="5"></div>
          <md-checkbox md-no-ink aria-label="voicemail" class="md-primary" flex-gt-sm>
            Voicemail
          </md-checkbox>
          <div flex="5"></div>
          <md-checkbox md-no-ink aria-label="allowOutbound" class="md-primary" flex-gt-sm>
            Allow Outbound
          </md-checkbox>
        </div>
        <div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Allowed Numbers</label>
            <md-chips ng-model="basicConfig.AllowedNumbers"></md-chips>
          </md-input-container>
        </div>
        <div layout="row" layout-align="right" flex="30">
          <div layout-align="left"><md-button class="btn1">Save</md-button></div>
          <div layout-align="right"><md-button class="btn1">Cancel</md-button></div>
        </div>



      </form>
    </md-content>
  </div>
</div>
