<div>
<md-data-table-toolbar>
  <h2 class="md-title">PABX Users</h2>
</md-data-table-toolbar>

<md-data-table-container>
  <table md-data-table md-progress="deferred">
    <thead>
    <tr>
      <th name="User UUID"></th>
      <th name="User Status"></th>
      <th name="Advanced Route Method"></th>
      <th name="Outbound Allowed"></th>
      <th name="Voicemail"></th>
      <th name="Media Bypass"></th>
      <th name="Ignore Early Media"></th>
    </tr>
    </thead>
    <tbody>
    <tr layout-align="center center" md-auto-select ng-repeat="item in pabxUsrList | limitTo: query.limit: (query.page - 1) * query.limit">

      <td>{{item.UserUuid}}</td>
      <td>{{item.UserStatus}}</td>
      <td>{{item.AdvancedRouteMethod}}</td>
      <td><md-checkbox class="md-primary" ng-model="item.AllowOutbound"></td>
      <td><md-checkbox class="md-primary" ng-model="item.VoicemailEnabled"></td>
      <td><md-checkbox class="md-primary" ng-model="item.BypassMedia"></td>
      <td><md-checkbox class="md-primary" ng-model="item.IgnoreEarlyMedia"></td>
      <td><md-button class="md-icon-button" ng-disabled="false" aria-label="edit">
        <md-icon md-svg-src="../../ResourceApp-Material/img/edit26.svg"></md-icon>
      </md-button></td>
      <td><md-button class="md-icon-button" ng-disabled="false" aria-label="delete">
        <md-icon md-svg-src="../../ResourceApp-Material/img/ic_delete_24px.svg"></md-icon>
      </md-button></td>
    </tr>
    </tbody>
  </table>
</md-data-table-container>
<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total={{total}}></md-data-table-pagination>
</div>


