.btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(172, 230, 0, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  height: 30px;
}
.btn1:not([disabled]):hover {
  background-color: rgba(0, 153, 51, 0.96);
  color: rgba(255, 255, 255, 0.96);
}
.btn1[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

.btn2 {
  color : rgb(49, 46, 46);
  background-color: rgba(255, 204, 51, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  height: 30px;
}
.btn2:not([disabled]):hover {
  background-color: rgba(255, 72, 26, 0.96);
  color: white;
}
.btn2[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

.btn3 {
  color : rgb(49, 46, 46);
  background-color: rgba(57, 151, 206, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  height: 30px;
}
.btn3:not([disabled]):hover {
  background-color: rgba(120, 57, 223, 0.96);
  color: white;
}
.btn3[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

.custBackground1{
  background-color: rgba(235, 235, 224, 0.96);
}

.custBackground2{
  background-color: rgba(245, 245, 240, 0.96);
}

.custBackground3{
  background-color: rgba(34, 141, 221, 0.96);
}

.custBackground4{
  background-color: rgba(110, 110, 110, 0.96);
  color: rgba(242, 242, 242, 0.96);
}

.customWidth1{
  width: 500px
}

