<md-dialog aria-label="Add New Extension"  ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add New Extension</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Extension</span>
            <!--<span class="md-subhead">DID</span>-->
          </md-card-title-text>
          <md-card-title-media>

          </md-card-title-media>
        </md-card-title>
        <md-card-content layout="column" layout-align="space-between">
          <div>
            <div layout="column" ng-cloak class="md-inline-form">
              <md-content md-theme="docs-dark" layout-padding layout-gt-sm="row">
                <md-input-container>
                  <label>Extension</label>
                  <input type="text" class="form-control" id="extension" placeholder="Extension" ng-disabled="enableEdit" ng-model="extension.Extension">
                </md-input-container>
                <md-input-container>
                  <label>Extension Name</label>
                  <input type="text" class="form-control" id="extensionName" placeholder="Extension Name" ng-model="extension.ExtensionName">
                </md-input-container>
                <md-input-container>
                  <label>Extension Type</label>
                  <md-select ng-model="extension.ObjCategory" class="form-control" placeholder="Externsion Type">
                    <md-option value="USER">
                      USER
                    </md-option>
                    <md-option value="GROUP">
                      GROUP
                    </md-option>
                    <md-option value="CONFERENCE">
                      CONFERENCE
                    </md-option>
                    <md-option value="VOICE_PORTAL">
                      VOICE_PORTAL
                    </md-option>
                    <md-option value="FAX">
                      FAX
                    </md-option>
                    <md-option value="IVR">
                      IVR
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-checkbox ng-model="extension.Enabled" class="form-control" ng-hide="true" ng-disabled=true ng-click="updateExtensionEnable()" aria-label="Active">
                </md-checkbox>
                <md-input-container>
                  <label>DOD Number</label>
                  <input type="text" class="form-control" id="dodNumber" placeholder="DOD Number" ng-model="extension.DodNumber">
                </md-input-container>
                <md-checkbox ng-model="extension.DodActive" class="form-control" ng-hide="true" ng-disabled=true ng-click="updateDodEnable()" aria-label="Active">
                </md-checkbox>
              </md-content>
            </div>
          </div>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-hide="enableEdit" ng-click="addExtension(extension)" style="margin-right:20px;">
              Add
            </md-button>
            <md-button class="md-raised md-primary" ng-show="enableEdit" ng-click="editExtension(extension)" style="margin-right:20px;">
              Edit
            </md-button>
            <md-button class="md-raised md-primary" ng-click="answer('not useful')">
              Cancel
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </md-dialog-content>
</md-dialog>
