<md-dialog aria-label="Add New DID"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add New DID</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">DID</span>
              <!--<span class="md-subhead">DID</span>-->
            </md-card-title-text>
            <md-card-title-media>

            </md-card-title-media>
          </md-card-title>
          <md-card-content layout="column" layout-align="space-between">
            <div>
              <div layout="column" ng-cloak class="md-inline-form">
                <md-content md-theme="docs-dark" layout-padding layout-gt-sm="row">
                  <md-input-container>
                    <label>Did Number</label>
                    <input type="text" class="form-control" id="didNumber" placeholder="DID Number" ng-disabled="enableEdit" ng-model="didNumber.DidNumber">
                  </md-input-container>
                  <md-input-container>
                    <label>Extension</label>
                    <md-select ng-model="didNumber.Extension" class="form-control" placeholder="Externsion" ng-click="updateExtensionEnable()">
                      <md-option ng-repeat="extension in extensions" value="{{extension.Extension}}">
                        {{extension.Extension}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <md-checkbox ng-model="didNumber.DidActive" class="form-control" ng-click="updateDidEnable()" aria-label="DID Active">
                  </md-checkbox>
                </md-content>
              </div>
            </div>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-primary" ng-hide="enableEdit" ng-click="addDidNumber(didNumber)" style="margin-right:20px;">
                Add
              </md-button>
              <md-button class="md-raised md-primary" ng-show="enableEdit" ng-click="editDidNumber(didNumber)" style="margin-right:20px;">
                Edit
              </md-button>
              <md-button class="md-raised md-primary" ng-click="answer('not useful')">
                Cancel
              </md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
      </div>
    </md-dialog-content>
</md-dialog>
