<div>
  {{error}}
  <div>
    <table>
      <thead>
      <tr>
        <td>Extension</td>
        <td>ExtentionName</td>
        <td>ExtentionType</td>
        <td>Active</td>
        <td>DOD Number</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="extension in extensions">
        <td>{{extension.Extension}}</td>
        <td>{{extension.ExtensionName}}</td>
        <td>{{extension.ObjCategory}}</td>
        <td>{{extension.Enabled}}</td>
        <td>{{extension.DodNumber}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
