<div>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="custBackground4 md-toolbar-tools" layout="row">
      <div flex="90">SIP User Configuration</div>
      <div layout="row" layout-align="right">
      </div>
    </div>
  </md-toolbar>
  <div ng-cloak class="md-inline-form">
    <md-content layout-padding class="custBackground2">

      <form name="sipUserConfForm">

        <div layout-gt-sm="row">
          <div flex-gt-sm layout="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Sip Username</label>
            <input name="sipUserName" ng-model="basicConfig.SipUsername" ng-disabled="IsEdit" ng-model-options="{ updateOn: 'blur' }" usernamecheck required>
            <div ng-messages="sipUserConfForm.sipUserName.$error">
              <div ng-message="required">This field is required</div>
              <div ng-message="usernamecheck">Username not validated</div>
            </div>
          </md-input-container>
          <div>
            <md-progress-circular class="paddingBottom1" md-mode="indeterminate" ng-show="sipUserConfForm.sipUserName.$pending"></md-progress-circular>
          </div>
          </div>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input name="password" ng-model="basicConfig.Password" required>
            <div ng-messages="sipUserConfForm.Password.$error">
              <div ng-message="required">This field is required</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email Address</label>
            <input name="emailAddr" ng-model="basicConfig.EmailAddress" required>
            <div ng-messages="sipUserConfForm.emailAddr.$error">
              <div ng-message="required">This field is required</div>
            </div>
          </md-input-container>
          <div flex="5"></div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Reference Id</label>
            <input name="guRefId" ng-model="basicConfig.GuRefId">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <div flex-gt-sm layout="row">
          <md-input-container class="md-block" flex>
            <label>Extension</label>
            <input name="ext" ng-model="basicConfig.Extension" ng-model-options="{ updateOn: 'blur' }" extcheck required ng-disabled="IsEdit">
            <div ng-messages="sipUserConfForm.ext.$error">
              <div ng-message="required">This field is required</div>
              <div ng-message="extcheck">Extension number not validated</div>
            </div>
          </md-input-container>
          <div>
            <md-progress-circular class="paddingBottom1" md-mode="indeterminate" ng-show="sipUserConfForm.ext.$pending"></md-progress-circular>
          </div>
          </div>
          <div flex="5"></div>
          <md-input-container flex-gt-sm class="md-block">
              <label>PIN</label>
              <input name="pin" ng-model="basicConfig.Pin">
              <div ng-messages="sipUserConfForm.pin.$error">
                <div ng-message="required">This field is required</div>
              </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container flex-gt-sm class="md-block">
            <label>Domain</label>
            <md-select name="domain" ng-model="basicConfig.CloudEndUserId" ng-model-options="{trackBy: '$value'}">
              <md-option ng-repeat="eu in endUserList" value="{{eu.id}}">{{eu.Domain}}</md-option>
            </md-select>
          </md-input-container>
          <div flex="5"></div>
          <div layout="row" flex-gt-sm>
            <md-input-container flex-gt-sm class="md-block">
              <label>Context</label>
              <md-select name="context" ng-model="basicConfig.Context" ng-model-options="{trackBy: '$value'}">
                <md-option ng-repeat="ctxt in contextList" value="{{ctxt.Context}}">{{ctxt.Context}}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
        <br>
        <br>
        <div layout-gt-sm="row">
          <div><b>Attendant Transfer Configurations</b></div>
        </div>
        <br>
        <div layout-gt-sm="row">
          <md-checkbox md-no-ink aria-label="TransInternalEnable" ng-model="basicConfig.TransInternalEnable" ng-init="basicConfig.TransInternalEnable=false" class="md-primary" flex-gt-sm>
            Internal
          </md-checkbox>
          <div flex="5"></div>
          <md-checkbox md-no-ink aria-label="TransExternalEnable" ng-model="basicConfig.TransExternalEnable" ng-init="basicConfig.TransExternalEnable=false" class="md-primary" flex-gt-sm>
            External
          </md-checkbox>
          <div flex="5"></div>
          <md-checkbox md-no-ink aria-label="TransConferenceEnable" ng-model="basicConfig.TransConferenceEnable" ng-init="basicConfig.TransConferenceEnable=false" class="md-primary" flex-gt-sm>
            Conference
          </md-checkbox>
          <div flex="5"></div>
          <md-checkbox md-no-ink aria-label="TransGroupEnable" ng-model="basicConfig.TransGroupEnable"  ng-init="basicConfig.TransGroupEnable=false"class="md-primary" flex-gt-sm>
            Group
          </md-checkbox>
        </div>
        <br>
        <br>
        <div layout="row">
          <div flex="70"></div>
          <div layout-align="right"><md-button class="btn1" ng-click="onSavePressed()" ng-disabled="sipUserConfForm.$invalid">Save</md-button></div>
          <div layout-align="right"><md-button class="btn2" ng-click="onCancelPressed()">Back</md-button></div>
        </div>

      </form>


    </md-content>
  </div>
</div>

