<md-card class="grad" >
  <form name="projectForm"   novalidate>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">File Uploader</span>

    </md-card-title-text>
    <md-card-title-media>

    </md-card-title-media>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-between">

    <div ng-controller = "FileEditController">
      <input type = "file" file-model = "myFile"/>
      <button ng-click = "uploadFile()">upload me</button>
    </div>

    <div ng-controller = "FileEditController">
       <button ng-click = "downloadFile('http://localhost:8081/DVP/API/6.0/FileService/File/Download/27fce522-1f62-4719-85a7-de8e62507886')">download</button>
    </div>


    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button"  ng-disabled="false" aria-label="Back"  href="#/file/list">
        <md-icon md-svg-src="img/ic_arrow_back_24px.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-disabled="projectForm.$invalid" ng-disabled="false" aria-label="Save"  ng-click="createCallServer(callServer)">
        <md-icon md-svg-src="img/ic_save_24px.svg"></md-icon>
      </md-button>
    </md-card-actions>
  </md-card-content>
  </form>
</md-card>

